<div class="container-fluid">
<div class="row" style="margin-top: 80px;">
<div class="col-md-6 col-sm-6" style="margin: auto;">
  <div class="row row-cols-6">
    <div class="col"></div>
    <div class="col"><img src="../../../assets/Images/facebook.png" alt="" class="img-thumbnail"></div>
    <div class="col"><img src="../../../assets/Images/google-plus.png" alt="" class="img-thumbnail"></div>
    <div class="col"><img src="../../../assets/Images/linkedin.png" alt="" class="img-thumbnail"></div>
    <div class="col"><img src="../../../assets/Images/twitter.png" alt="" class="img-thumbnail"></div>
    <div class="col"></div>
  </div>
    <h3 style="text-align: center;margin-top: 18px;color: #9da0a0;">Makes easy to verify your social accounts</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" [(ngModel)]="email" class="form-control" name="email">
          <div id="emailHelp" class="form-text">Account finder works on your email account.</div>
        </div>
        <div class="row row-cols-4">
          <div class="col text-center">
            <label for="exampleInputEmail1" class="form-label">Twiter</label>
            <input type="checkbox" [(ngModel)]="Twiter" class="" id="Twiter" name="Twiter">
          </div>
          <div class="col text-center">
            <label for="exampleInputEmail1" class="form-label">Facebook</label>
            <input type="checkbox" [(ngModel)]="Facebook" class="" id="Facebook" name="Facebook">
          </div>
          <div class="col text-center">
            <label for="exampleInputEmail1" class="form-label">Gmail</label>
            <input type="checkbox"  [(ngModel)]="Gmail"  class="" id="Gmail" name="Gmail">
          </div>
          <div class="col text-center">
            <label for="exampleInputEmail1" class="form-label">LinkedIn</label>
            <input type="checkbox" [(ngModel)]="LinkedIn" class="" id="LinkedIn" name="LinkedIn">
          </div>
    
        </div>
        <br>
        <button type="submit" class="btn btn-success">Search</button>
      
      </form>
    <app-records-results [information]="information"></app-records-results>
</div>
</div>
